<!-- Sidemenu -->
<div class="sticky">
	<div class="main-menu main-sidebar main-sidebar-sticky side-menu is-expanded ps ps--active-y">
		<div class="main-sidebar-header main-container-1 active">
			<div class="sidemenu-logo">
				<a class="main-logo" href="/">
					<img src="" alt="logo" style="height:37px">
				</a>
			</div>
			<div class="main-sidebar-body main-body-1">
				<div class="slide-left disabled d-none" id="slide-left"><i class="fe fe-chevron-left"></i></div>
				<ul class="menu-nav nav">
					<li class="nav-header"><span class="nav-label">Dashboard</span></li>
					<li class="nav-item">
						<a class="nav-link" href="/">
							<span class="shape1"></span> <span class="shape2"></span>
							<i class="fa solid fa-home sidemenu-icon menu-icon "></i>
							<span class="sidemenu-label">Dashboard</span>
						</a>
					</li>
					<li class="nav-header"><span class="nav-label">Anagrafica</span></li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "AddressBook")">
							<span class="shape1"></span> <span class="shape2"></span>
							<i class="fa solid fa-address-book sidemenu-icon menu-icon "></i>
							<span class="sidemenu-label">Rubrica</span>
						</a>
					</li>
					<li class="nav-header"><span class="nav-label">Gestione</span></li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "City")">
							<span class="shape1"></span> <span class="shape2"></span>
							<i class="fa solid fa-city sidemenu-icon menu-icon "></i>
							<span class="sidemenu-label">Città</span>
						</a>
					</li>
				</ul>
				<div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
			</div>
		</div>
		<div class="ps__rail-x" style="left: 0px; top: 0px;">
			<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
		</div>
		<div class="ps__rail-y" style="top: 0px; height: 919px; right: 0px;">
			<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 900px;"></div>
		</div>
	</div>
</div>
<div class="jumps-prevent"></div>
<!-- End Sidemenu -->